name: Test

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Run tests (sp-naive,non-zero-vma)
        run: cargo test --target x86_64-unknown-linux-gnu --features "sp-naive,non-zero-vma" -- --nocapture

      - name: Run tests (non-zero-vma)
        run: cargo test --target x86_64-unknown-linux-gnu --features "non-zero-vma" -- --nocapture
